# NODE_ENV=development
# PORT=8000
# DATABASE_URL="aaroo?sslmode=require"
# JWT_SECRET="change-me"
# PUBLIC_WEB_URL="http://localhost:3000"
# REDIS_URL="redis://localhost:6379"
# CDN_URL="https://cdn.yaro0.com"
# ADMIN_EMAIL="admin@yaaroo.lk"
# ADMIN_PHONE="+94770000000"
# ADMIN_PASSWORD="change-this-admin-password"
